[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pillow = "*"
django-widget-tweaks = "*"
bootstrap4 = "*"
django-crispy-forms = "*"
djangorestframework = "*"
gunicorn = "*"
django-heroku = "*"
whitenoise = "*"
python-decouple = "*"
dj-database-url = "*"
django-forms-bootstrap = "*"
django-bootstrap4 = "*"

[dev-packages]

[requires]
python_version = "3.7"
