{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}
<title>Sign Up</title>
{% endblock %}
{% block content %}
<div class="container">
    <style>
        li{
            display:none;
           }
        p{
            display:none;
        }
        form{
            width:70%;
            padding:10px;
            border-radius: 1%;
            background-color: black;
        }
    </style>
    <div class="row">
        <div class="col-md-4 col-sm-6 col-lg-6"></div>
        <div class="col-md-6 col-sm-6 col-lg-6">
            <form action="{% url 'register' %}" class="text-white" method="post">
        {% csrf_token %}
        {{form|crispy}}
        <button type="submit" class="btn btn-lg btn-success">Sign-up</button>
    </form>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
{% endblock %}